<h1>Currency Converter</h1>

<% if flash[:error] %>
  <p><%= flash[:error] %></p>
<% end %>

<% if @conversion %>
<%= form_tag forex_convert_url, method: :get do %>
  <%= label_tag :from, 'From:' %>
  <%= text_field_tag :from, params[:from] %>

  <%= label_tag :to, 'To:' %>
  <%= text_field_tag :to, params[:to] %>

  <%= label_tag :amount, 'Amount:' %>
  <%= text_field_tag :amount, params[:amount] %>

  <%= submit_tag 'Convert' %>
<% end %>

  <p><%= params[:amount] %> <%= params[:from] %> = <%= @conversion %> <%= params[:to] %></p>
<% end %>

<%= link_to 'Back', root_path %>
