<h1>Currency pair: <%= @pair %></h1>

<% if flash[:error] %>
  <p><%= flash[:error] %></p>
<% else %>
  <p>Current rate: <%= @currency.rate %></p>  
<% end %>

<%= link_to 'Back', root_path %>
<%= link_to 'Convert', "/forex/convert?from=#{@pair.to_s[0..2]}&to=#{@pair.to_s[3..5]}&amount=1" %>